

<p>
  <span id="area" >現在の天気</span>
</p>

<p>
  <span id="weather" ></span>
</p>

<p>
  <span id="icon" ></span>
</p>

<p>
  <span id="temp" ></span>
</p>

<input type="submit" value="天気を見る", id = "text-button">
