<div class="main">
  <div class="title-container">
    <div class="top-page-title">服で繋がろう</div>
  </div>

  <div class="about-good-closet">
   <div class="fade-in-btn">
     Good Closetとは…
   </div>
   <div class="fade-in">
     <p>Good Closetへようこそ！</p>
     <p>ここでは皆さんのコーディネートのお悩みを相談できます</p>
     <p>また、天気を確認して、ぜひ服選びの参考にしてください！</p>
     <p>自分の服や靴などを写真に撮ってクローゼットに入れておけば、</p>
     <p>お買い物の際、"似たような服を買っちゃった！"ってことも防げます</p>
   </div>
  </div>

  <div class="post-container">
    <div class="post-title">
     <p>みんなのファッション相談</p>
    </div>
    <hr>
    <div class="posts">
     <% @posts.each do |post| %>
      <li class="post">
       <p class="user-name"><%= post.user.nickname %>さんの投稿</p>
       <p class="subject"><b>件名：</b><%= post.title %></p>
       <%= link_to post_path(post.id), class:"subject-and-image" do %>
          <%= image_tag post.images[0], class:"post-image" %>
       <% end %>
       <% if post.images[1] %>
        <p>+1画像</p>
       <% end %>
      </li>
     <% end %>
    </div>
  </div>
</div>