<div class="main">
  <div class="title-container">
    <h2>服で繋がろう<h2>
  </div>

  <div class="post-container">
    <div class="post-title">
     <p>みんなのファッション相談</p>
    </div>
    <hr>
    <div class="posts">
     <% @posts.each do |post| %>
      <li class="post">
       <p class="user-name"><%= post.user.nickname %>さんの投稿</p>
       <%= link_to post_path(post.id), class:"subject-and-image" do %>
       <p class="subject"><b>件名：</b><%= post.title %></p>
       <%end%>
       <div class="images">
        <% post.images.each do |image| %>
          <%= image_tag(image.variant(resize:'400x300'), class:"post-image") %>
        <% end %>
       </div>
       
      </li>
     <% end %>
    </div>
    
  </div>

  
</div>