/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 
 *= require_tree .
 *= require font-awesome
 */
 
 * {
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
 


header {
  background-color: #f7c6bd;
}

.header_bar {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 40px;
}

.header-title {
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 30px;
  color: #432c02;

}

nav {
  display: flex;
  align-items: center;
} 

.user_info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration:none ;
  margin-left: 15px;
  margin-right: 100px;
  color: #432c02;
}

.welcome {
  color: #1760a0;
  margin-right: 50px;
}


.login {
  text-decoration: none;
  color: #432c02;
  margin-right: 20px;
}

.sign-up {
  text-decoration: none;
  color: #432c02;
}
 
.dropdown_container{
  display: inline-block;
  position: relative;
  background-color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
 
.dropdown_container > ul{
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  background-color: #f7c6bd;
  height: 0;
  overflow: hidden;
  border: none;
  z-index: 2;
}
 
.dropdown_container:hover > ul{
  height: auto;
  width: 150px;
}

.dropdown_container:hover > ul li{
  padding: 5px;
  
} 

.dropdown_container a {
  display: block;
  color: #432c02;
  text-decoration: none;
  
}
.dropdown_container a:hover {
    background-color: #f6f0cc;
}


footer {
  background-color: #f7c6bd;
}
