/* トップページ */
.title-container {
  height: 400px;
  width: 100vw;
  background-image: url("../top_page.jpg"); 
  opacity: 0.8;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-page-title {
  font-size: 50px;
  background-color: white;
  border: 2px dashed black;
  border-radius: 8px;
  box-shadow: 0 0 0 4px white;
  color: black;
  padding: 0 10px;
}

.about-good-closet {
  background-color: #f6f0cc;
  padding: 120px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fade-in {
  display: none;
  font-size: 20px;
  line-height: 2em;
  color: #432c02;
  letter-spacing: 5px;
}

.fade-in-btn {
  font-weight: bold;
  padding: 0.7em;
  color: white;
  background: #f7c6bd;
  margin-bottom: 60px;
  font-size: 20px;
  letter-spacing: 3px;
}

.post-container {
  background-color: #f6f0cc;
}

.post-title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 180px;
}

hr {
  size: 10;
  margin-bottom: 100px;
}

.posts {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post {
  list-style: none;
  margin-bottom: 100px;
  padding: 20px 0 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name {
  margin-bottom: 10px;
  border-bottom: gray 0.5px solid;
}

.subject {
  margin-bottom: 5px;
}

.subject:hover {
  color :#4CAF50;
}

.subject-and-image {
  text-decoration: none;
}

.images {
  display: flex;
}

/* 詳細画面 */
.show-container {
  min-height: 100vh;
  background-color:  #f6f0cc;
  padding-top: 50px;
}

.post-details {
  display: flex;
  justify-content: center;
}

.post-show {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-closet {
  margin-bottom: 20px;
  color: #1760a0;
}

.to-closet:hover {
  color :#4CAF50;
}

.fa {
  margin-right: 5px;
}

.show-subject {
  margin-bottom: 10px;
}

.show-image {
  margin-bottom: 10px;
}

.post-text {
  border: olivedrab solid 1px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px;
}

.edit-destroy-container {
  display: flex;
  justify-content: center;
}

.edit-destroy-btn {
 width: 50%;
 text-align-last: right;
}

.post-edit:hover,.post-destroy:hover {
  color: #4CAF50
}

/* 投稿画面 */
.add-post-main {
  min-height: 100vh;
  background-color: #f6f0cc;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-post-title {
  color: #432c02;
  margin: 30px 0 20px;
}

.input-title {
  height: 2em;
}

.input-title,.input-text {
  border: #432c02 solid 1px;
}

.add-text {
  margin-bottom: 10px;
}

.post-submit {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.post-submit-btn, .btn {
  padding: 1px 10px;
  text-decoration: none;
  background: skyblue;
  color: white;
  border-bottom: solid 4px #4699ca;
  border-radius: 3px;
}

.post-submit-btn:active,.btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px)
}

/* 小型スマホ横表示時 */
@media (max-width: 600px) {
 .fade-in {
   font-size: 13px;
  }

  .post-image {
    width: 80%;
  }

 .images {
   justify-content: center;
   max-height: 300px;
  }

 .post-show {
   width: 70%;
  }

  .add-post-title {
    font-size: 20px;
    margin: 30px 0 10px;
  }

  .input-title {
    height: 1.5em;
  }

  .add-text {
    margin-bottom: 5px;
  }
 
  .post-submit {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px;
  }
}

/* スマホ縦表示時 */
@media (max-width: 500px) {
 .fade-in {
  font-size: 10px;
 }

 .fade-in-btn{
   font-size: 15px;
  }

 .post-title {
   padding-top: 80px;
  }

 .post {
   width: 60%;
  }
}

/* 小型スマホ縦表示時 */
@media (max-width: 415px) {
  .fade-in {
    padding: 0 10px;
   }
  .post-title {
    padding-top: 50px;
    font-size: 25px;
  }

 .top-page-title {
   font-size: 30px;
  }
  
 .show-image {
   width: 90%;
  }

  .sub-container {
    width: 70%;
    font-size: 12px;
  }

  .add-post-images {
    width: 80vw;
  }
}