
.title-container {
  height: 400px;
  width: 100vw;
  background-image: url("top_page.jpg"); 
  opacity: 0.8;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.title-container,h2 {
  color: #1760a0;
  font-size: 50px;
  
  
}