.session,.registration {
  min-height: 100vh;
  background-color: #f6f0cc;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-title,.registration-title {
  color: #432c02;
  margin: 30px 0 20px;
}

.session-sub-title,.registration-sub-title {
  margin-bottom: 20px;
}

.input-email,.input-password,.input-nickname {
  height: 2em;
  border: #432c02 solid 1px;
  border-radius: 5px;
  width: 300px;
  background: rgba(255, 255, 255, .5);
}

.input-email,.input-nickname,.input-password {
  margin-bottom: 10px;
}

.login-btn,.sign-up-btn {
 margin-top: 30px;
 display: flex;
 justify-content: center;
}


/* マイクローゼット */
.closet-main {
  width: 100%;
  min-height: 100vh;
  background-color: #f6f0cc;
}

.closet-title{
  margin: 0 30px;
  padding-top: 20px;
  font-size: 20px;
  color: #1760a0;
}

.add-items {
  text-decoration: none;
  background: skyblue;
  color: white;
  border-bottom: solid 4px #4699ca;
  border-radius: 3px;
  padding: 0 3px;
  margin-left: 50px;
}

.items {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 40px;
  padding:0 10px;
}

.item-container {
  margin-bottom: 40px;
}

.item {
  list-style: none;
  text-align-last: center;
}

.destroy-button {
  text-align-last: center;
  font-size: 12px;
}

.item-destroy:hover{
  color: #4CAF50;
}



/* タブレット横表示時 */
@media (max-width: 1024px) {
  .items {
    grid-template-columns:33% 33% 33%;
  }
}

/* タブレット縦、スマホ横表示時 */
@media (max-width: 900px) {
  .items {
    grid-template-columns: 50% 50%;
  }
}


/* 小型スマホ横表示時 */
@media (max-width: 600px) {
  .session-title,.registration-title {
    font-size:30px;
    margin: 20px 0 10px;
  }

  .login-btn,.sign-up-btn {
    margin: 20px 0 30px;
  }
  
  .items {
    grid-template-columns: 100%;
  }
}


/* 小型スマホ縦表示時 */
@media (max-width: 415px) {
  .closet-image {
    width: 250px;
    max-height: 250px;
  }
}


